<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${src}">title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
table, th {
    border-collapse: collapse;
    border:1px solid #333;
}
pre {
    margin: 0;
}
.ok {
    background-color: lightgreen;
}
.ng {
    color: white;
    background-color: pink;
}
        </style>
    </head>
    <body>
        <h1 th:text="${src}"></h1>
        
        <table border="1" style="width:100%">
            <thead>
                <tr>
                    <th style="width:100px">No</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="line : ${lines}">
                    <td th:text="${line.no}"></td>
                    <td th:class="${line.status ? 'ok' : 'ng'}"><pre th:text="${line.msg}"></pre></td>
                </tr>
            </tbody>
        </table>        
    </body>
</html>
